.sgv-warn-icon { 
    width: 20px; 
    z-index: 1;
} 

.sgv-hint {
    width:180px;
}

.sgv-tooltip-content { 
    visibility: hidden; 
    width: 200px; 
    background-color: #eaedf2; 
    color: black; 
    padding: 5px; 
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    position: absolute; 
    z-index: 2;
} 
 
.sgv-warn-container:hover .sgv-tooltip-content { 
    visibility: visible; 
}

.sgv-header {
    font-weight: bold;
}

.toggle-validation {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: 6px;
  font-size: 16px;
  color: #000;
  width: 200px;
  height: 28px;
  text-align: center;
}

.sgv-notifications {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: 6px;
  color: #000;
  width: 240px;
  text-align: center;
  font-size: 14px;
  max-height: 400px;
  overflow: auto;
}

.sgv-notifications.hidden {
  display: none;
}

.sgv-info-icon {
    width: 50px;
    left: 75px;
}

.sgv-error-list-category {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border-style: none;
    border-top-style: solid;
    border-top-color: #444;
    border-top-width: 2px;
    text-align: left;
    outline: none;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: 0.4s;
}

.sgv-error-list-active, .sgv-error-list-category:hover {
    background-color: #ccc;
}

.sgv-error-list-panel {
    cursor: default;
    text-align: center;
    font-size: 12px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sgv-error-list-panel-element {
    border-top-style: solid;
    border-top-color:#444;
    border-top-width: 1px;
    cursor: zoom-in;
}

.bold{
    font-weight: bold;
}

.nocursor {
    cursor: default;
}

.sgv-down-arrow-icon {
    width: 10px;
}

.sgv-menu-button-container {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 230px;
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 4px;
    font-size: 16px;
    color: #000;
    width: 30px;
    height: 28px;
    text-align: center;
}

.sgv-menu-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 6px;
    color: #000;
    width: 240px;
    max-height: 400px;
    overflow: auto;
}

.validation-menu {
    font-weight: bold;
}


.sgv-menu-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 6px;
}

.sgv-menu-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sgv-menu-checkmark {
    position: absolute;
    top: 2px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

.sgv-menu-checkbox-container:hover input ~ .sgv-menu-checkmark {
    background-color: #ccc;
}

.sgv-menu-checkbox-container input:checked ~ .sgv-menu-checkmark {
    background-color: #B5152B;
}

.sgv-menu-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sgv-menu-checkbox-container input:checked ~ .sgv-menu-checkmark:after {
    display: block;
}

.sgv-menu-checkbox-container .sgv-menu-checkmark:after {
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}